@(chart: String, ventasPorPeriodo: Map[String, Int], periodoInicio: String, periodoFin: String)
@main(s"Ventas $periodoInicio - $periodoFin"){
    <img src="data:image/png;base64,@chart"/>

    @ventasPorPeriodo.map { case (k,v) =>
    <form action="@routes.Venta.ventasPorPeriodoFamilia">
        <input type="submit" value="@k">
        <input type="text" value="@v" disabled>
        <input type="text" name="familia" value="@k" hidden>
        <input type="date" name="inicio" value="@periodoInicio" hidden>
        <input type="date" name="fin" value="@periodoFin" hidden>
        <input type="text" name="src" value="ventas_por_periodo_familia" hidden>
    </form>
    }
}

