@navbar()
@main("Ventas por periodo"){

<script type="text/javascript">
    var datefield=document.createElement("input")
    datefield.setAttribute("type", "date")
    if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
    }
</script>

<script>
if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
    jQuery(function($){ //on document.ready
        $('#inicio').datepicker();
        $('#fin').datepicker();
    })
}
</script>

<br/><br/>
<form action="@routes.Venta.ventasPorPeriodo">
    <table>
        <tr>
            <td><label>Inicio:</label></td>
            <td><input type="date" id="inicio" name="inicio" tabindex="1" required="true"></td>
        </tr>
        <tr>
            <td><label>Fin: </label></td>
            <td><input type="date" id="fin" name="fin" tabindex="1" required="true"></td>
        </tr>
    </table>
    <br/>
    <input type="text" name="src" value="ventas_por_periodo" type="text" hidden>
    <input type="submit" value="Graficar" type="button" formtarget="ventas_por_periodo">
    <iframe name="ventas_por_periodo" frameborder="0" width="100%" marginheight="20px" height="100%"></iframe>
</form>

}