@(chart: String, items: Map[String, Int], ventas: Map[String, String], ganancia: Map[String, String], periodo: String)
@main(s"Ventas / Ganancia - $periodo"){
    <img src="data:image/png;base64,@chart">
    <br/><br/>
    <form action="/ventas/ventasGananciaFamilias">
        <table>
            @for((mes, value) <- items){
                <tr>
                    <td><div><input type="submit" name="mes" value="@mes"/></div></td>
                    <td><div><input type="text" value="@items.get(mes)" disabled/></div></td>
                    <td><div><input type="text" value="@ventas.get(mes)" disabled/></div></td>
                    <td><div><input type="text" value="@ganancia.get(mes)" disabled/></div></td>
                </tr>
            }
        </table>
        <input type="text" name="src" value="venta_ganacia_familias" hidden/>
        <input type="text" name="periodo" value="@periodo" hidden/>
    </form>
}
