@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @*@play20.welcome(message, style = "Scala")*@
    <ul>
        <li>@message</li>
        <li>HOLA</li>
        <li><a href="/jFreeChartDemo/show">Visit our HTML tutorial</a></li>
    </ul>

    @helper.form(action = routes.JFreeChartDemo.chart) {
<label>Email Id
    <input type="email" name="email" tabindex="1" required="required">
</label>

<label>Password
    <input type="password" name="password" tabindex="2" required="required">
</label>

<input type="submit" value="Register" type="button">
}

<!-- <img src="@routes.JFreeChartDemo.chart"/> -->
}
