@(message: String)

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @*@play20.welcome(message, style = "Scala")*@
    <ul>
        <li>@message</li>
        <li>List</li>
        <li><a href="/jFreeChartDemo/show">Top 20 Venta por Familia</a></li>
    </ul>
}
