@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<html>
    <head>
        @* Here's where we render the page title `String`. *@
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>@title</title>

        <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap/css/bootstrap.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap/css/base.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("dataTables/css/dataTables.bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("dataTables/css/jquery.dataTables.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.versioned("bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")'>
    </head>

    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@

        <script src='@routes.Assets.versioned("bootstrap/js/jquery-2.2.3.min.js")'></script>
        <script src='@routes.Assets.versioned("bootstrap/js/bootstrap.js")'></script>
        <script src='@routes.Assets.versioned("dataTables/js/dataTables.bootstrap.min.js")'></script>
        <script src='@routes.Assets.versioned("dataTables/js/jquery.dataTables.min.js")'></script>
        <script src='@routes.Assets.versioned("bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")'></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.table-detail').DataTable();

                $('.datetimepicker').datetimepicker({
                    format: "dd MM yyyy - HH:ii P",
                    autoclose: true,
                    todayBtn: true
                });

                $('.yearpicker').datetimepicker({
                    format: "yyyy",
                    autoclose: true,
                    startView: 'decade',
                    viewSelect: 'decade',
                    minView: 'decade',
                    maxView: 'decade',
                });

            });
        </script>

        <div class="container-fluid">
            @content
        </div>
    </body>
</html>
