@(familia: String, chart: String, matriz: Array[Array[String]])

<!--
Detalle Familia Grafica y Matriz sin main.scala.html

Se utiliza para generar todas las vistas que requieran estos parametros
sin utilizar main.scala.html para llamarlo desde un form y ser desplegado
dentro de un frame.
-->
@main(""){
    <br/>
    <img src="data:image/png;base64,@chart">
    <br/><br/>
    <style>
            table, th, td {
                border: 1px solid black;
                padding: 5px;
                text-align: center;
            }

            table {
                border-spacing: 15px;
            }

            td.header {
                border: 4px solid black;

            }
        </style>

    <table border="1">
        @for((row, i) <- matriz.zipWithIndex) {
        <tr>@for((cell, idx) <- row.zipWithIndex) {
            @if(idx == 0 || i == 0) {
            <td class="header"><div>@cell</div></td>
            } else {
            <td><div>@cell</div></td>
            }
            }
        </tr>
        }
    </table>
}