@(chart: String, ventasPeriodo: Map[String, Int])
<!--
Vista que muestra la grafica y detalle de las ventas
totales de todos los periodos con los parametros anteriores
                 chart -> grafica en base64
         ventasPeriodo -> datos correpondientes
-->
@navbar()
@main("Ventas totales"){

    <div class="panel panel-success">
        <div class="panel-heading">
            Gráfica
        </div>
        <div lass="panel-body">
            <img src="data:image/png;base64,@chart" class="img-responsive">
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            Detalle
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form action="@routes.Venta.ventasPeriodoFamilia">
                        <input type="text" name="src" value="ventas_periodo_familia" hidden>
                        <table id="table-detail" class="table table-condensed table-bordered table-hover">
                            <thead>
                                <th class="success">
                                    <h4 class="text-center">Familia</h4>
                                </th>
                                <th class="success">
                                    <h4 class="text-center">Venta</h4>
                                </th>
                            </thead>
                            <tbody>
                                @ventasPeriodo.map { case (k,v) =>
                                <tr>
                                    <td><label hidden>@k</label><input type="submit" class="btn btn-danger btn-block" name="familia" value="@k"></td>
                                    <td><h5 class="text-right">@v</h5></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

