@(chart: String, ventasPeriodo: Map[String, Int])
<!--
Vista que muestra la grafica y detalle de las ventas
totales de todos los periodos con los parametros anteriores
                 chart -> grafica en base64
         ventasPeriodo -> datos correpondientes
-->

@main("Ventas de periodo por familia"){
    <br/><br/>
    <img src="data:image/png;base64,@chart">
    <br/><br/>

    @ventasPeriodo.map { case (k,v) =>
        <form action='@routes.Venta.ventasPeriodoFamilia("ventas_periodo_familia")'>
            <input type="submit" value="@k">
            <input type="text" value="@v" disabled>
            <input type="text" name="familia" value="@k" hidden>
            <input type="text" name="src" value="ventas_periodo_familia" hidden>
        </form>

    }
}

